In [1]:
#import libraries
import pickle
import numpy as np
import pandas as pd

In [2]:
#load the files needed
with open('translationScores.pickle', 'rb') as f:
    translation_2 = pickle.load(f)

with open('hwn.pickle', 'rb') as f:
    translation_1 = pickle.load(f)

In [3]:
#print the length of each dataframe
print(len(translation_2))
print(len(translation_1))

12655
7363

In [4]:
#number of unique values in translation and hwn
print(len(translation_2['Armenian'].unique()))
print(len(translation_1['Armenian'].unique()))

4844
6055

In [5]:
#concatenate translation_1 and 2 dataframes
new = pd.concat([translation_1, translation_2], ignore_index = True)
new = new.fillna('') #fill any NaNs

In [6]:
#print the result
new

,HWN_Offset,SWN_Offset,Armenian,English,Positive,Negative,Objective,POS
0,00014490-a,00014490,միանգամայն բավարար,"rich,plentiful,plenteous,copious,ample",0.125,0.000,0.875,
1,00014490-a,00014490,լիառատ,"rich,plentiful,plenteous,copious,ample",0.125,0.000,0.875,
2,00024996-a,00024996,նոր,new,0.000,0.125,0.875,
3,00025470-a,00025470,թթվային,acid,0.000,0.375,0.625,
4,00029933-a,00029933,ագահ,"prehensile,greedy,grasping,grabby,covetous,ava...",0.000,0.000,1.000,
...,...,...,...,...,...,...,...,...
20013,,02779774,ֆիզիկական,physical,0.000,0.000,1.000,a
20014,,10428004,ֆիզիկոս,physicist,0.000,0.000,1.000,n
20015,,10153594,ֆիզկուլտուրնիկ,"athlete,gymnast",0.000,0.000,1.000,n
20016,,03338648,ֆիլմ,film,0.000,0.000,1.000,n
20017,,03378765,ֆուտբոլ,football,0.000,0.000,1.000,n

In [7]:
#create the necessary columns
columns = ['HWN_Offset', 'SWN_Offset', 'Part_of_Speech', 'Armenian', 'English', 'Positive', 'Negative', 'Objective']
lexicon = pd.DataFrame(columns = columns)

In [8]:
lemmas = new['Armenian'].unique()

In [9]:
sentiment = []
for i in range(len(lemmas)):
    word = lemmas[i]
    ind = np.where(new['Armenian'] == word)[0]
    POS = new['POS'][ind[0]]
    pos, neg, obj = 0, 0, 0
    s_offset = []
    h_offset = []
    eng = []
    for j in range(len(ind)):
        pos += new['Positive'][ind[j]]
        neg += new['Negative'][ind[j]]
        obj += new['Objective'][ind[j]]
        s_offset.append(new['SWN_Offset'][ind[j]])
        h_offset.append(new['HWN_Offset'][ind[j]])
        if new['English'][ind[j]] not in eng:
            eng.append(new['English'][ind[j]])
    positive = pos / len(ind)
    negative = neg / len(ind)
    objective = obj / len(ind)
    sentiment.append({'HWN_Offset': h_offset, 'SWN_Offset': s_offset, 'Part_of_Speech': POS, 'Armenian': word, 'English': eng, 
                      'Positive': positive, 'Negative': negative, 'Objective': objective})
lexicon = lexicon.append(sentiment, ignore_index = True)
lexicon.head()

,HWN_Offset,SWN_Offset,Part_of_Speech,Armenian,English,Positive,Negative,Objective
0,[00014490-a],[00014490],,միանգամայն բավարար,"[rich,plentiful,plenteous,copious,ample]",0.125000,0.000000,0.87500
1,[00014490-a],[00014490],,լիառատ,"[rich,plentiful,plenteous,copious,ample]",0.125000,0.000000,0.87500
2,"[00024996-a, 00818008-a, 01640850-a, 01687167-...","[00024996, 00818008, 01640850, 01687167, 00821...",,նոր,"[new, young,new, novel,new,fresh]",0.171875,0.046875,0.78125
3,[00025470-a],[00025470],,թթվային,[acid],0.000000,0.375000,0.62500
4,"[00029933-a, ]","[00029933, 00011160]",,ագահ,"[prehensile,greedy,grasping,grabby,covetous,av...",0.000000,0.000000,1.00000

In [10]:
for i in range(len(lexicon)):
    lexicon['HWN_Offset'][i] = ','.join(lexicon['HWN_Offset'][i])
    lexicon['SWN_Offset'][i] = ','.join(lexicon['SWN_Offset'][i])
    lexicon['English'][i] = ','.join(lexicon['English'][i])
lexicon.head()

<ipython-input-10-d8002536fe55>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lexicon['HWN_Offset'][i] = ','.join(lexicon['HWN_Offset'][i])
<ipython-input-10-d8002536fe55>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lexicon['SWN_Offset'][i] = ','.join(lexicon['SWN_Offset'][i])
<ipython-input-10-d8002536fe55>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lexicon['English'][i] = ','.join(lexicon['English'][i])

,HWN_Offset,SWN_Offset,Part_of_Speech,Armenian,English,Positive,Negative,Objective
0,00014490-a,00014490,,միանգամայն բավարար,"rich,plentiful,plenteous,copious,ample",0.125000,0.000000,0.87500
1,00014490-a,00014490,,լիառատ,"rich,plentiful,plenteous,copious,ample",0.125000,0.000000,0.87500
2,"00024996-a,00818008-a,01640850-a,01687167-a,,,,","00024996,00818008,01640850,01687167,00821208,0...",,նոր,"new,young,new,novel,new,fresh",0.171875,0.046875,0.78125
3,00025470-a,00025470,,թթվային,acid,0.000000,0.375000,0.62500
4,"00029933-a,","00029933,00011160",,ագահ,"prehensile,greedy,grasping,grabby,covetous,ava...",0.000000,0.000000,1.00000

In [11]:
#number of unique in new
print(len(lexicon))

9292

In [12]:
#save the dataframe as a pickle file
with open('sentimentScores_final.pickle', 'wb') as f:
    pickle.dump(lexicon, f)
    
#save the dataframe as a text file (for those interested to read the results)
with open('sentimentScores_final.txt', 'w', encoding = 'utf-8') as f:
    f.write(lexicon.to_string())