In [1]:
#import libraries
import pandas as pd
import numpy as np
import tensorflow as tf
from transformers import BertTokenizer, TFBertForSequenceClassification
from transformers import InputExample, InputFeatures
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score

In [2]:
#get the model
model = TFBertForSequenceClassification.from_pretrained('./BERT/MonoBERTSentiment')
tokenizer = BertTokenizer.from_pretrained('./bert_model')
model.summary()

All model checkpoint layers were used when initializing TFBertForSequenceClassification.

All the layers of TFBertForSequenceClassification were initialized from the model checkpoint at ./BERT/MonoBERTSentiment.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBertForSequenceClassification for predictions without further training.

Model: "tf_bert_for_sequence_classification"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
bert (TFBertMainLayer)       multiple                  135193344
_________________________________________________________________
dropout_37 (Dropout)         multiple                  0
_________________________________________________________________
classifier (Dense)           multiple                  1538
=================================================================
Total params: 135,194,882
Trainable params: 135,194,882
Non-trainable params: 0
_________________________________________________________________

In [3]:
#read the data
test = pd.read_csv('SentimentTest_B.csv', encoding = 'utf-8')

In [4]:
test.head()

,Unnamed: 0,Column1,Column2,Column3,Column4,Column5
0,0,5.230650e+17,aaron rodgers,negative,"@Espngreeny Ես Ֆինսի երկրպագու եմ, ուրբաթ է, ի...",NaN
1,1,5.224770e+17,aaron rodgers,positive,Ահարոն Ռոջերսը իրոք որսում է կիրակի երեկոյան կ...,NaN
2,2,5.225120e+17,aaron rodgers,positive,Բրիտանացի Ահարոն Ռոջերսը կարող է լինել ամենահա...,NaN
3,3,5.225200e+17,aaron rodgers,positive,Ինչն է Ահարոն Ռոջերսին այդքան լավը դարձնում վե...,NaN
4,4,5.226780e+17,aaron rodgers,positive,Ահարոն Ռոջերսի վերջին դրայվը անհավանական էր: Բ...,NaN

In [5]:
#create a polarity column and change the targets accordingly
test['Polarity'] = np.nan
for i in range(len(test)):
    if test['Column3'][i] == 'positive':
        test['Polarity'][i] = 1
    else:
        test['Polarity'][i] = 0
test = test.drop('Column3', axis = 1)

<ipython-input-5-c02507178422>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Polarity'][i] = 0
<ipython-input-5-c02507178422>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Polarity'][i] = 1

In [6]:
#predict
pred_sentences = test['Column4']
tf_batch = tokenizer(list(pred_sentences), max_length = 128, padding = True, truncation = True, return_tensors = 'tf')
tf_outputs = model(tf_batch)
tf_predictions = tf.nn.softmax(tf_outputs[0], axis = -1)
labels = [0, 1]
label = tf.argmax(tf_predictions, axis = 1)
label = label.numpy()
predictions = pd.Series(label, index = test.index)
print('Accuracy:', accuracy_score(test['Polarity'], predictions))
print('F-measure:', f1_score(test['Polarity'], predictions))
print('Recall:', recall_score(test['Polarity'], predictions))
print('Precision:', precision_score(test['Polarity'], predictions))

Accuracy: 0.8251996450754214
F-measure: 0.8928765633496465
Recall: 0.9469434832756632
Precision: 0.8446502057613169

In [7]:
from sklearn.metrics.cluster import contingency_matrix
contingency_matrix(test['Polarity'], predictions)

array([[109, 151],
       [ 46, 821]])

In [8]:
import pickle
with open('SentimentTestTextB.pickle', 'rb') as f:
    lemmatized_text = pickle.load(f)

In [9]:
tf_predictions

<tf.Tensor: shape=(1127, 2), dtype=float32, numpy=
array([[0.16520686, 0.8347932 ],
       [0.34829298, 0.65170705],
       [0.00347991, 0.99652004],
       ...,
       [0.00255701, 0.99744296],
       [0.00279735, 0.99720263],
       [0.00280853, 0.9971915 ]], dtype=float32)>

In [10]:
x = []

for i in range(len(tf_predictions)):
    r = np.array(tf_predictions[i])
    if r[0] > r[1]:
        x.append(r[0] / r[1])
    else:
        x.append(r[1] / r[0])

In [11]:
x

[5.0530176,
 1.8711461,
 286.36343,
 251.86086,
 4.3700995,
 2.4202604,
 3.0960605,
 25.958553,
 1.136978,
 376.84045,
 200.74364,
 86.10384,
 87.493065,
 379.78967,
 23.596546,
 63.622307,
 397.43622,
 373.0617,
 18.634434,
 1.5630426,
 384.63022,
 393.28107,
 335.02115,
 292.55377,
 200.72353,
 4.0374784,
 114.35618,
 416.56796,
 289.17255,
 50.854393,
 1.8390118,
 4.0374784,
 235.97147,
 75.83756,
 63.635895,
 200.91142,
 1.0106853,
 1.2047652,
 6.9620085,
 51.20554,
 207.38513,
 285.86902,
 151.14174,
 17.996532,
 10.835443,
 14.814455,
 9.848101,
 1.3518043,
 9.521088,
 32.84703,
 121.56479,
 7.991052,
 20.631853,
 28.41537,
 109.07422,
 8.438567,
 185.44261,
 26.221485,
 1.7437227,
 40.80354,
 329.42477,
 3.1386278,
 9.133355,
 4.632262,
 267.0907,
 5.906001,
 56.469322,
 5.241587,
 53.51742,
 156.39514,
 110.870316,
 305.02133,
 64.97438,
 315.32202,
 65.068665,
 1.7754667,
 331.96985,
 224.67549,
 216.15343,
 193.34114,
 285.4095,
 231.62283,
 278.08408,
 259.26282,
 194.48949,
 129.27887,
 8.573663,
 271.35733,
 395.10562,
 2.045204,
 266.0522,
 340.3622,
 340.31223,
 396.253,
 24.771822,
 1.8940105,
 294.35577,
 52.289406,
 266.15497,
 6.9038596,
 5.343048,
 29.545305,
 35.106937,
 34.158195,
 354.91354,
 353.9727,
 16.479408,
 385.42905,
 6.023624,
 26.25046,
 1.1848906,
 3.6358979,
 155.3254,
 75.349686,
 43.103508,
 52.31922,
 53.457638,
 19.185074,
 50.22139,
 26.662355,
 34.762596,
 1.0940603,
 57.860744,
 1.5663643,
 380.14246,
 17.347298,
 14.365253,
 112.34193,
 5.343777,
 5.711538,
 271.16187,
 78.26763,
 289.94495,
 40.09729,
 82.84072,
 380.17978,
 289.66345,
 416.9505,
 354.49042,
 312.0371,
 395.27393,
 279.63116,
 330.43997,
 310.7573,
 241.15324,
 361.36905,
 298.69824,
 1.0609134,
 383.49786,
 360.88846,
 51.57882,
 1.0715373,
 20.195934,
 150.1848,
 94.45161,
 180.34444,
 219.5989,
 115.76322,
 250.48221,
 280.40668,
 210.24113,
 2.6254878,
 303.2088,
 183.53322,
 10.594564,
 44.919964,
 25.781727,
 1.3389447,
 268.97714,
 35.29736,
 164.22295,
 247.2937,
 2.6987085,
 179.36136,
 279.965,
 241.10152,
 195.57954,
 282.7046,
 39.490295,
 303.47122,
 364.08054,
 1.0541044,
 1.004377,
 4.3518,
 80.00416,
 305.17,
 15.03896,
 19.128292,
 22.439901,
 330.8466,
 3.6945171,
 1.1487924,
 89.11246,
 14.705078,
 373.66327,
 355.84677,
 19.080566,
 178.61356,
 349.6783,
 1.9574001,
 369.0287,
 17.77693,
 395.1657,
 136.61037,
 199.75305,
 392.0838,
 179.84955,
 219.67432,
 288.8619,
 307.20352,
 4.8692446,
 195.05081,
 316.90186,
 5.8305945,
 153.56097,
 110.00809,
 218.93207,
 54.63873,
 294.4,
 47.41489,
 371.2143,
 46.468136,
 279.2426,
 5.0704594,
 368.6581,
 196.26404,
 1.3899977,
 379.1267,
 395.1744,
 344.0078,
 8.761422,
 358.36575,
 341.61826,
 3.8859942,
 363.69916,
 66.707054,
 246.8373,
 1.5571408,
 170.27324,
 16.399445,
 281.22186,
 84.57198,
 283.37238,
 84.58601,
 4.598489,
 10.582118,
 6.6656237,
 1.4993991,
 211.6996,
 12.218827,
 180.1575,
 43.71788,
 335.31424,
 132.01782,
 195.87239,
 297.96436,
 256.36267,
 355.96405,
 386.7443,
 69.17859,
 243.63408,
 378.5972,
 409.63028,
 371.33893,
 56.728714,
 144.3681,
 223.08156,
 345.34253,
 352.15045,
 269.26062,
 298.88187,
 53.090233,
 390.4729,
 367.25604,
 17.737612,
 259.13635,
 275.8912,
 38.94158,
 352.19006,
 71.229004,
 141.89693,
 266.47702,
 221.21742,
 371.4087,
 328.369,
 204.70198,
 165.26262,
 145.13377,
 346.00284,
 171.08325,
 316.93027,
 395.29767,
 264.84958,
 33.87121,
 280.71143,
 2.6848083,
 2.1781306,
 260.4618,
 16.882011,
 250.41998,
 17.621313,
 5.727516,
 52.330963,
 236.61423,
 312.14337,
 363.9042,
 374.20068,
 316.20523,
 4.266236,
 13.792322,
 114.00722,
 38.979713,
 244.32747,
 26.519325,
 258.2094,
 356.26257,
 69.37091,
 235.43893,
 354.05762,
 183.08368,
 391.33273,
 269.52536,
 38.591858,
 363.20212,
 350.63104,
 2.1183794,
 308.78687,
 122.99284,
 3.3862054,
 252.74016,
 321.52725,
 281.24615,
 291.39026,
 322.0678,
 77.813194,
 176.81654,
 321.68256,
 29.49755,
 19.20956,
 405.66666,
 1.0094976,
 1.4901733,
 387.00107,
 35.59665,
 403.04037,
 257.56458,
 210.52815,
 286.6717,
 357.9704,
 413.30887,
 398.13635,
 308.9254,
 13.708182,
 259.73746,
 174.83923,
 386.88428,
 3.162252,
 1.4655129,
 100.096466,
 2.172191,
 23.041325,
 88.35946,
 3.427083,
 26.851524,
 252.441,
 18.283468,
 360.10974,
 227.52919,
 110.90167,
 386.54587,
 359.05865,
 243.00963,
 1.1157697,
 8.41154,
 2.8808618,
 336.5541,
 287.51343,
 310.71182,
 181.87169,
 10.274123,
 341.55786,
 339.37302,
 203.25525,
 318.61172,
 195.10931,
 271.5946,
 2.2315068,
 220.27031,
 22.435558,
 8.090678,
 308.04037,
 78.430214,
 32.3143,
 208.62006,
 290.6612,
 5.736744,
 217.89923,
 345.77917,
 22.001875,
 6.1915374,
 294.07422,
 82.01188,
 333.19653,
 312.39694,
 404.0984,
 387.9304,
 332.11298,
 34.570194,
 237.53137,
 367.49902,
 189.196,
 22.801325,
 349.90552,
 267.07034,
 342.7969,
 408.42572,
 402.8029,
 388.7895,
 439.61142,
 356.08508,
 319.05566,
 198.31976,
 346.8091,
 28.095621,
 367.4463,
 393.12732,
 369.03815,
 378.1815,
 321.38208,
 283.29175,
 25.686998,
 3.898446,
 46.8521,
 274.21738,
 1.756514,
 1.0162386,
 35.24851,
 6.353511,
 33.316124,
 3.3759358,
 63.961678,
 1.1807693,
 26.766163,
 182.78351,
 268.25348,
 73.30523,
 207.9454,
 284.66467,
 389.43588,
 186.79842,
 62.926132,
 24.323019,
 383.21164,
 20.168852,
 408.1771,
 1.1308346,
 4.6654477,
 106.098724,
 11.78683,
 366.62088,
 188.50801,
 348.48154,
 31.517033,
 2.5937564,
 57.083855,
 290.3359,
 6.601774,
 191.76349,
 21.830044,
 22.692686,
 4.2488136,
 277.5236,
 2.5098896,
 55.585506,
 7.0380373,
 1.2450234,
 3.0761278,
 99.5403,
 253.87337,
 275.52808,
 322.0678,
 23.112526,
 120.399155,
 14.822284,
 298.80676,
 150.09732,
 276.02542,
 219.35695,
 360.8435,
 37.324356,
 251.54126,
 84.25853,
 91.59965,
 304.1728,
 43.362755,
 97.81538,
 350.3837,
 150.73006,
 1.9134741,
 216.79279,
 228.9217,
 25.08324,
 163.2147,
 252.39453,
 53.316326,
 234.59865,
 289.18057,
 43.407707,
 239.40576,
 6.413685,
 7.0685306,
 332.91528,
 108.221115,
 109.27574,
 2.1311657,
 2.3749616,
 150.10577,
 167.33997,
 324.80255,
 190.52992,
 186.19609,
 11.470435,
 9.200919,
 2.5756643,
 8.811027,
 2.1409886,
 1.2230017,
 8.650863,
 1.4263108,
 122.647896,
 4.08775,
 3.4464433,
 1.3742368,
 262.68204,
 157.57945,
 150.10577,
 174.0205,
 218.20525,
 7.457028,
 278.59863,
 54.785843,
 192.14233,
 186.19609,
 167.33997,
 20.522533,
 66.71396,
 1.8879243,
 44.621056,
 240.98541,
 260.916,
 317.06586,
 2.525106,
 395.5539,
 5.0026817,
 314.26645,
 313.56058,
 323.0981,
 4.2082796,
 9.469827,
 171.85127,
 30.434002,
 273.13763,
 117.669235,
 134.33302,
 2.9018688,
 367.77072,
 98.00669,
 77.521355,
 286.2646,
 19.90449,
 2.4328308,
 345.414,
 159.60284,
 247.96393,
 7.5306473,
 360.4815,
 353.0742,
 283.95944,
 286.5446,
 8.063145,
 33.486816,
 397.10733,
 1.5818262,
 6.302783,
 16.581789,
 5.666617,
 76.90469,
 3.7392466,
 5.666617,
 5.666617,
 262.91623,
 5.666617,
 135.14357,
 80.440895,
 1.141574,
 286.6993,
 3.14364,
 344.3605,
 304.6527,
 267.4386,
 10.926108,
 1.1862315,
 146.28009,
 6.425149,
 33.887398,
 310.96127,
 296.22708,
 183.13196,
 6.24804,
 1.1193565,
 2.4199324,
 1.5751364,
 1.3054371,
 154.91599,
 17.091265,
 32.591255,
 373.63693,
 4.2283273,
 4.3723607,
 260.92294,
 3.6128557,
 196.39996,
 7.4157023,
 228.50435,
 2.9422998,
 12.52687,
 33.752613,
 212.35696,
 251.54626,
 9.791112,
 2.5088944,
 63.156364,
 2.138353,
 11.928226,
 239.55594,
 5.3557663,
 251.66072,
 10.251915,
 6.1253495,
 228.91257,
 197.24484,
 1.6111504,
 225.12355,
 217.70428,
 393.7336,
 7.35798,
 5.8474703,
 6.377438,
 344.96857,
 124.99119,
 328.98758,
 286.7663,
 78.80829,
 17.370113,
 252.4311,
 380.19992,
 95.0164,
 348.433,
 28.690718,
 364.0847,
 167.10315,
 24.990652,
 11.567206,
 288.02048,
 52.694695,
 226.18384,
 310.48166,
 288.097,
 202.36537,
 5.840811,
 40.97375,
 301.09247,
 374.25137,
 374.25314,
 139.55083,
 235.16202,
 10.598179,
 64.01129,
 159.83751,
 5.3039646,
 285.03897,
 266.0371,
 349.76505,
 246.2177,
 359.76578,
 165.23834,
 338.6184,
 301.24957,
 258.04523,
 345.22794,
 10.791749,
 309.1851,
 362.34445,
 1.9423283,
 8.700378,
 292.96558,
 355.63202,
 318.031,
 66.76016,
 392.72955,
 307.39694,
 376.94662,
 5.7094564,
 411.11237,
 314.99756,
 82.830925,
 394.4564,
 1.1429591,
 121.78307,
 13.0645275,
 205.63078,
 276.6938,
 315.90805,
 69.229576,
 263.8861,
 74.95392,
 305.3521,
 349.9649,
 311.641,
 335.907,
 7.881069,
 295.40134,
 390.2073,
 271.2096,
 66.67685,
 116.8223,
 219.02855,
 230.45352,
 342.73022,
 358.13123,
 100.40278,
 365.76825,
 385.5936,
 389.53467,
 284.9883,
 232.22632,
 413.4967,
 376.0176,
 267.13528,
 352.85895,
 341.09824,
 73.638336,
 364.3136,
 88.905205,
 394.2102,
 359.63733,
 71.9571,
 6.681647,
 175.17873,
 305.03018,
 222.65967,
 21.319633,
 75.18688,
 1.164132,
 30.334068,
 134.86716,
 134.4817,
 31.216925,
 101.40134,
 6.470845,
 256.58954,
 319.85907,
 56.427338,
 246.58215,
 1.5650066,
 380.48395,
 25.961649,
 31.460106,
 330.6154,
 48.661476,
 1.4727916,
 67.11842,
 217.67316,
 3.7939863,
 2.9032643,
 196.71397,
 4.4532633,
 82.31438,
 37.319885,
 54.79509,
 229.17982,
 327.29285,
 24.272474,
 269.5457,
 290.49738,
 343.76236,
 18.001219,
 224.4274,
 369.8415,
 365.47607,
 254.492,
 354.1699,
 373.61023,
 395.02747,
 223.18817,
 24.520638,
 268.79034,
 367.01828,
 4.582582,
 268.46793,
 21.60982,
 142.94876,
 344.88336,
 94.620285,
 163.0152,
 303.49536,
 45.07903,
 2.0388246,
 259.11032,
 26.352245,
 99.96172,
 358.8993,
 67.86599,
 10.376591,
 100.30789,
 106.157486,
 71.65804,
 73.92591,
 308.66306,
 118.6587,
 257.83786,
 27.851753,
 239.98114,
 215.85452,
 52.53496,
 136.96173,
 4.098878,
 224.90283,
 241.60661,
 293.63788,
 2.2093844,
 420.3373,
 250.95515,
 360.84247,
 345.81662,
 391.92416,
 5.382234,
 91.08153,
 179.79019,
 317.47162,
 262.58548,
 11.900512,
 55.074932,
 85.37403,
 301.04712,
 293.27347,
 207.12698,
 1.0171045,
 6.407128,
 3.1434374,
 10.083436,
 33.06846,
 379.24802,
 260.2562,
 140.44623,
 46.484833,
 395.2784,
 6.737323,
 7.501951,
 3.3422973,
 1.5848598,
 11.504306,
 2.8009918,
 333.54453,
 97.83724,
 282.4863,
 49.888382,
 6.241644,
 7.59918,
 1.8039937,
 38.850292,
 188.09535,
 168.92189,
 2.447335,
 1.8544546,
 46.703766,
 89.376595,
 13.927581,
 36.63656,
 391.9378,
 100.67124,
 311.56284,
 17.72524,
 291.58084,
 12.769741,
 318.70108,
 1.5340819,
 259.99173,
 4.978705,
 108.06681,
 194.02467,
 4.5049205,
 342.66748,
 258.70032,
 341.15042,
 337.14392,
 352.91833,
 382.5066,
 256.05554,
 17.428358,
 387.45087,
 379.10538,
 397.10223,
 133.78781,
 261.8092,
 218.21988,
 370.08054,
 14.681235,
 265.76147,
 35.947357,
 12.4957695,
 4.9801025,
 4.1893773,
 291.01758,
 224.35077,
 178.26929,
 342.60327,
 372.32547,
 272.28638,
 270.08023,
 157.66281,
 138.83731,
 361.4371,
 185.83838,
 244.06477,
 347.8145,
 338.61618,
 162.54713,
 278.97006,
 106.289276,
 293.1534,
 156.57437,
 264.2015,
 2.9261255,
 10.229207,
 177.10986,
 372.23135,
 4.702467,
 1.2038004,
 3.7565408,
 2.5416117,
 103.68598,
 94.5791,
 177.97202,
 15.230002,
 359.5562,
 13.738866,
 302.59915,
 309.3128,
 346.91644,
 96.366135,
 32.023384,
 4.2626004,
 22.501902,
 285.23956,
 9.234401,
 261.0305,
 278.80222,
 29.778196,
 265.7787,
 160.75572,
 22.388462,
 67.58187,
 4.578626,
 232.31328,
 71.88348,
 34.550682,
 27.852028,
 246.49126,
 304.31036,
 347.50153,
 298.54187,
 124.28964,
 5.8308797,
 225.20439,
 183.51694,
 300.06738,
 344.44855,
 206.11415,
 386.77417,
 131.50026,
 325.63483,
 227.20695,
 309.27267,
 34.084118,
 386.2695,
 263.8538,
 252.41078,
 195.23654,
 218.49583,
 8.512736,
 174.10265,
 73.05796,
 399.85147,
 74.57055,
 323.21814,
 33.881313,
 398.53787,
 275.44992,
 3.7159424,
 ...]

In [12]:
possibility = pd.Series(x, index = test.index)

In [13]:
index = []
for i in range(len(predictions)):
    if predictions[i] != test['Polarity'][i]:
        index.append(i)

y = {'Text': test['Column4'].loc[index], 'Label': test['Polarity'].loc[index], 'Prediction': predictions[index], 'Possibility': possibility[index]}
summary = pd.DataFrame(y)
summary

,Text,Label,Prediction,Possibility
0,"@Espngreeny Ես Ֆինսի երկրպագու եմ, ուրբաթ է, ի...",0.0,1,5.053018
4,Ահարոն Ռոջերսի վերջին դրայվը անհավանական էր: Բ...,1.0,0,4.370100
6,Կարծես թե @Panthers Defense-ը կիրակի օրը A կստ...,0.0,1,3.096061
7,"@amyrobJAFEEL-ը հենց նոր տեղեկացրեց ինձ, որ Ահ...",0.0,1,25.958553
11,"Հոկտեմբերի 4-ն է։ Եկեք իրական լինենք, Ահարոն Ս...",0.0,1,86.103844
...,...,...,...,...
1047,Ուեյն նահանգը (@wscwildcats) շաբաթ օրը ժամը 13...,0.0,1,301.789337
1090,"գուշակեք, ով չի կարող վաղը գնալ WWAT ֆիլմը դիտ...",0.0,1,19.931259
1099,@mvdn777 լավ էդ ժամանակավորումը կատարյալ կլինե...,0.0,1,27.601208
1110,"Այսպիսով, Աշխատանքային ետ առաջատարի հետ Populu...",1.0,0,2.875626
1111,@LouiseBaldock հիանալի աշխատանք; դուք կարող եք...,0.0,1,138.465363

In [14]:
def get_index(cont, thr):
    ind = []
    for i in range(len(cont)):
        if cont[i] < thr:
            ind.append(i)
    return ind

In [15]:
low_index = get_index(possibility, 14)

In [16]:
low_index

[0,
 1,
 4,
 5,
 6,
 8,
 19,
 25,
 30,
 31,
 36,
 37,
 38,
 44,
 46,
 47,
 48,
 51,
 55,
 58,
 61,
 62,
 63,
 65,
 67,
 75,
 86,
 89,
 95,
 99,
 100,
 108,
 110,
 111,
 121,
 123,
 128,
 129,
 147,
 151,
 161,
 164,
 167,
 172,
 181,
 182,
 183,
 190,
 191,
 199,
 210,
 213,
 223,
 226,
 230,
 233,
 237,
 244,
 245,
 246,
 247,
 249,
 295,
 296,
 301,
 308,
 309,
 325,
 328,
 340,
 341,
 352,
 356,
 357,
 359,
 362,
 372,
 373,
 374,
 379,
 386,
 389,
 395,
 399,
 431,
 434,
 435,
 437,
 439,
 441,
 455,
 456,
 458,
 463,
 466,
 470,
 472,
 474,
 475,
 476,
 498,
 509,
 510,
 514,
 515,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 530,
 531,
 532,
 538,
 546,
 551,
 553,
 557,
 558,
 564,
 570,
 574,
 579,
 582,
 583,
 585,
 587,
 588,
 589,
 591,
 594,
 596,
 600,
 601,
 603,
 608,
 609,
 610,
 611,
 612,
 617,
 618,
 620,
 622,
 624,
 625,
 629,
 630,
 632,
 633,
 635,
 637,
 638,
 641,
 645,
 646,
 647,
 662,
 669,
 676,
 679,
 690,
 693,
 694,
 702,
 707,
 709,
 720,
 747,
 753,
 759,
 764,
 770,
 773,
 774,
 776,
 798,
 807,
 813,
 826,
 830,
 836,
 841,
 847,
 848,
 849,
 850,
 857,
 858,
 859,
 860,
 861,
 862,
 867,
 868,
 869,
 873,
 874,
 877,
 884,
 886,
 888,
 891,
 910,
 911,
 912,
 933,
 934,
 937,
 938,
 939,
 940,
 946,
 952,
 955,
 963,
 973,
 990,
 999,
 1000,
 1001,
 1004,
 1005,
 1017,
 1022,
 1038,
 1040,
 1049,
 1051,
 1053,
 1054,
 1061,
 1067,
 1076,
 1077,
 1094,
 1105,
 1110,
 1115]

In [17]:
len(test)

1127

In [18]:
len(low_index)

242

In [19]:
with open('positive_contribution.pickle', 'rb') as f:
    positive_contribution = pickle.load(f)
    
with open('negative_contribution.pickle', 'rb') as f:
    negative_contribution = pickle.load(f)
    
with open('positive_adverb.pickle', 'rb') as f:
    positive_adverb = pickle.load(f)
    
with open('negative_adverb.pickle', 'rb') as f:
    negative_adverb = pickle.load(f)

In [20]:
positive_contribution

                    Word  Count  Contribution
0     միանգամայն բավարար      0      0.500000
1                 լիառատ      0      0.500000
2                    նոր   2263      1.000000
3                շահավետ      0      0.500000
4              նպաստավոր      0      0.500000
...                  ...    ...           ...
1475             օգտակար      8      0.999665
1476           օժանդակել      0      0.500000
1477          օջախ(տուն)      0      0.500000
1478              օրորել      0      0.500000
1479            օրինակել      4      0.982014

[1480 rows x 3 columns]

In [21]:
negative_contribution

                 Word  Count  Contribution
0             թթվային      0      0.500000
1           ակնոցավոր      0      0.500000
2            այլատյաց      2      0.880797
3           անօտարելի      0      0.500000
4               մեռած      0      0.500000
...               ...    ...           ...
1376           օբյեկտ      3      0.952574
1377             օղակ     11      0.999983
1378  օրենականություն      0      0.500000
1379        օրհասական      0      0.500000
1380           օրհնել     12      0.999994

[1381 rows x 3 columns]

In [22]:
positive_adverb

['ամբողջությամբ',
 'անպայման',
 'խնդրեմ',
 'նույնիսկ',
 'դեռ',
 'դեռևս',
 'արդեն',
 'անկասկած',
 'շատ',
 'բարձրաձայն',
 'հատկապես',
 'պասսիվորեն',
 'հեշտորեն',
 'հեշտությամբ',
 'քննադատաբար',
 'քաղաքավարիորեն',
 'համեստորեն',
 'զգույշ',
 'քաոսայնորեն',
 'հերոսաբար',
 'սառնորեն',
 'ամբողջովին',
 'ամբողջովին ',
 'անխտիր',
 'ավելի լավ',
 'ավելի քիչ',
 'բոլորովին',
 'զարմանալիորեն',
 'էլ',
 'ինչքան էլ որ',
 'լիովին',
 'կատարելապես',
 'հաճախ',
 'համապատասխանաբար',
 'հենց',
 'հետեւաբար',
 'հոգեպես',
 'միանգամայն',
 'շուրջ',
 'որքան էլ որ',
 'պարզապես',
 'վճռականորեն',
 'տրամաբանորեն',
 'ուղակի']

In [23]:
negative_adverb

['ուղղակի',
 'երբեք',
 'չ-',
 'շուտով',
 'շուտ',
 'հազվադեպ',
 'իհարկե',
 'անշուշտ',
 'սովորաբար',
 'չափազանց',
 'սաստիկ',
 'քիչ',
 'սակավ',
 'ֆիզիկապես',
 'ֆիզիկորեն',
 'այժմ',
 'անմիջապես',
 'հիմա',
 'պատահաբար']

In [24]:
test.loc[low_index]

,Unnamed: 0,Column1,Column2,Column4,Column5,Polarity
0,0,5.230650e+17,aaron rodgers,"@Espngreeny Ես Ֆինսի երկրպագու եմ, ուրբաթ է, ի...",NaN,0.0
1,1,5.224770e+17,aaron rodgers,Ահարոն Ռոջերսը իրոք որսում է կիրակի երեկոյան կ...,NaN,1.0
4,4,5.226780e+17,aaron rodgers,Ահարոն Ռոջերսի վերջին դրայվը անհավանական էր: Բ...,NaN,1.0
5,5,5.228680e+17,aaron rodgers,"Ահարոն Ռոջերս. լավն է 4-րդ քառորդում, բայց ընդ...",NaN,1.0
6,6,5.229120e+17,aaron rodgers,Կարծես թե @Panthers Defense-ը կիրակի օրը A կստ...,NaN,0.0
...,...,...,...,...,...,...
1077,1077,5.230960e+17,white house,"Ինչ էլ որ լինի այնտեղ, մի շարք մարդկանց համար,...",NaN,1.0
1094,1094,5.208830e+17,wwat,"Վաղը դուրս կգա «Գողացեք իմ աղջկան», մյուս օրը՝...",NaN,1.0
1105,1105,5.230620e+17,xmas,Քիչ-քիչ նոսրանում է ավստրալական կենսակերպը։ Կա...,NaN,0.0
1110,1110,5.196010e+17,yougov,"Այսպիսով, Աշխատանքային ետ առաջատարի հետ Populu...",NaN,1.0
1115,1115,5.228440e+17,yougov,"The Sun քաղաքական խմբագիրն ասում է, որ CON &am...",NaN,0.0

In [25]:
pos_count = []
neg_count = []
data = lemmatized_text[low_index]

for i in low_index:
    words = data[i]
    pos = 0
    neg = 0
    for j in range(len(words)):
        if words[j] in positive_contribution['Word'].values:
            pos += 1
        elif words[j] in negative_contribution['Word'].values:
            neg += 1
    pos_count.append(pos)
    neg_count.append(neg)

In [26]:
pos_count

[1,
 2,
 1,
 2,
 2,
 1,
 2,
 3,
 0,
 3,
 4,
 1,
 5,
 1,
 4,
 2,
 4,
 2,
 1,
 2,
 4,
 2,
 1,
 2,
 2,
 0,
 3,
 1,
 0,
 1,
 1,
 2,
 2,
 3,
 1,
 3,
 4,
 5,
 6,
 4,
 2,
 3,
 5,
 6,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 2,
 3,
 2,
 2,
 2,
 4,
 4,
 0,
 1,
 1,
 1,
 3,
 2,
 2,
 2,
 2,
 6,
 1,
 4,
 3,
 2,
 4,
 3,
 1,
 3,
 1,
 4,
 2,
 1,
 5,
 1,
 2,
 0,
 2,
 2,
 3,
 1,
 0,
 2,
 4,
 3,
 5,
 2,
 1,
 1,
 1,
 1,
 1,
 0,
 6,
 2,
 2,
 5,
 1,
 3,
 0,
 2,
 3,
 0,
 3,
 2,
 5,
 3,
 5,
 4,
 2,
 3,
 0,
 3,
 0,
 3,
 3,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 1,
 3,
 2,
 2,
 2,
 1,
 1,
 4,
 4,
 2,
 4,
 0,
 1,
 5,
 2,
 0,
 1,
 1,
 3,
 1,
 5,
 2,
 2,
 1,
 3,
 1,
 1,
 6,
 3,
 0,
 0,
 2,
 1,
 3,
 4,
 7,
 3,
 3,
 2,
 2,
 2,
 5,
 2,
 2,
 4,
 6,
 5,
 5,
 2,
 1,
 5,
 2,
 3,
 5,
 2,
 2,
 5,
 5,
 2,
 2,
 7,
 4,
 0,
 4,
 1,
 0,
 1,
 2,
 1,
 1,
 4,
 0,
 1,
 7,
 0,
 3,
 1,
 1,
 1,
 5,
 2,
 0,
 1,
 4,
 1,
 1,
 2,
 2,
 1,
 4,
 2,
 1,
 6,
 2,
 2,
 1,
 0,
 0,
 5,
 3,
 4,
 2,
 3,
 4,
 4,
 1]

In [27]:
neg_count

[4,
 2,
 2,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 0,
 2,
 2,
 0,
 1,
 3,
 1,
 3,
 1,
 2,
 2,
 2,
 2,
 5,
 2,
 1,
 1,
 2,
 2,
 0,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 3,
 0,
 1,
 3,
 3,
 1,
 2,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 2,
 1,
 3,
 0,
 2,
 1,
 2,
 2,
 2,
 0,
 0,
 1,
 0,
 1,
 2,
 0,
 4,
 0,
 2,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 2,
 1,
 2,
 2,
 2,
 3,
 1,
 1,
 3,
 0,
 0,
 0,
 0,
 1,
 2,
 2,
 0,
 2,
 2,
 2,
 2,
 2,
 0,
 3,
 2,
 1,
 2,
 2,
 0,
 3,
 0,
 1,
 2,
 3,
 2,
 4,
 1,
 3,
 2,
 0,
 2,
 1,
 3,
 1,
 1,
 3,
 3,
 2,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 2,
 1,
 0,
 1,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 2,
 1,
 1,
 0,
 3,
 1,
 2,
 0,
 1,
 4,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 1,
 3,
 3,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 0,
 0,
 3,
 2,
 0,
 2,
 0,
 1,
 1,
 1,
 0,
 1,
 2,
 1,
 1,
 1,
 0,
 1,
 2,
 0,
 2,
 1,
 0,
 1,
 3,
 0,
 1,
 1,
 1,
 1,
 3,
 1,
 2,
 3,
 0,
 2,
 2,
 2,
 0,
 1,
 1,
 1,
 0,
 2,
 5,
 2,
 1,
 0,
 1,
 0,
 4,
 2,
 2,
 2,
 1,
 1,
 0,
 2,
 0,
 0,
 0,
 4,
 3,
 0,
 2]

In [28]:
def found_something(ind, words, window, adverb):
    a = ind - 1
    found_a = False
    count_a = 0
    while a >= 0 and found_a == False and count_a <= window:
        if words[a] in adverb:
            found_a = True
        a = a - 1
        count_a = count_a + 1
    b = ind + 1
    found_b = False
    count_b = 0
    while b < len(data[i]) and found_b == False and count_b <= window:
        if words[b] in adverb:
            found_b = True
        b = b + 1
        count_b = count_b + 1
    return found_a, found_b

In [29]:
positive_sentiment = []
negative_sentiment = []

for i in low_index:
    words = data[i]
    pos_words = []
    neg_words = []
    pos_scores = np.array([])
    neg_scores = np.array([])
    
    for j in range(len(words)):
        if words[j] in positive_contribution['Word'].values:
            pos_ind = np.where(positive_contribution['Word'] == words[j])[0]
            pos_cont = positive_contribution['Contribution'][pos_ind]
            pos_words.append([words[j], pos_cont])
        elif words[j] in negative_contribution['Word'].values:
            neg_ind = np.where(negative_contribution['Word'] == words[j])[0]
            neg_cont = negative_contribution['Contribution'][neg_ind]
            neg_words.append([words[j], neg_cont])
            
    for k in range(len(pos_words)):
        word = pos_words[k][0]
        c = pos_words[k][1]
        ind = data[i].index(word)
        pos_found = found_something(ind, words, 4, positive_adverb)
        if pos_found[0] == True or pos_found[1] == True:
            g = 2
        else:
            g = 1
        neg_found = found_something(ind, words, 3, negative_adverb)
        if neg_found[0] == True or neg_found[1] == True:
            f = -1
        else:
            f = 1
        pos_scores = np.append(pos_scores, g * f * c)
        
    for l in range(len(neg_words)):
        word = neg_words[l][0]
        c = neg_words[l][1]
        ind = data[i].index(word)
        pos_found = found_something(ind, words, 4, positive_adverb)
        if pos_found[0] == True or pos_found[1] == True:
            g = 2
        else:
            g = 1
        neg_found = found_something(ind, words, 3, negative_adverb)
        if neg_found[0] == True or neg_found[1] == True:
            f = -1
        else:
            f = 1
        neg_scores = np.append(neg_scores, g * f * c)
    
    positive_sentiment.append(np.sum(pos_scores))
    negative_sentiment.append(np.sum(neg_scores))

In [30]:
for i in range(len(low_index)):
    if positive_sentiment[i] > negative_sentiment[i]:
        predictions[low_index[i]] = 1
    else:
        predictions[low_index[i]] = 0

In [31]:
print('Accuracy:', accuracy_score(test['Polarity'], predictions))
print('F-measure:', f1_score(test['Polarity'], predictions))
print('Recall:', recall_score(test['Polarity'], predictions))
print('Precision:', precision_score(test['Polarity'], predictions))

Accuracy: 0.8278615794143744
F-measure: 0.895021645021645
Recall: 0.9538638985005767
Precision: 0.8430173292558614

In [32]:
contingency_matrix(test['Polarity'], predictions)

array([[106, 154],
       [ 40, 827]])